.searchBar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #0056b3;
}