.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    list-style: none;
    justify-content: center;
}

.card {
    flex: 1 1 calc(33.33% - 10px);
    box-sizing: border-box;
    max-width: calc(33.33% - 10px);
    margin-bottom: 15px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}